@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 500px 100px;
}

.topo {
    background-color: blue;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.conteudo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.conteudo-secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}
