@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", serif;
    --font3: "Sriracha", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: darkgray;
    font-family: var(--font1);
}

/******* CABECALHO *******/

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}


header > h1 {
    font-family: var(--font2);
    font-size: 3em;
    font-variant: small-caps;
}

header > p {
    font-family: var(--font1);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

/***** CABECALHO *******/

/**** CORPO *******/

section {
    padding-left: 30px;
    font-family: var(--font3);
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 40px;
}

section > p {
    padding-bottom: 30px;
    font-size: 1.2em;
}

.normal {
    background-color: white;
}

.imagem {
    color: white;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.512);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

#imagem-1 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

#imagem-2 {
    background-image: url('imagens/background002.jpg');
}

/**** CORPO *****/

/**** RODAPE ******/

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}